* {
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', "Verdana", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#container_header,
#container_thesis {
    background-color: cadetblue;
    color: white;
}

#container_learn,
#container_courses,
footer {
    background-color: white;
    color: #525252;
}

a {
    text-decoration: none;
    color: seagreen;
}

a:hover {
    color: mediumaquamarine;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    font-weight: 100;
}

main {
    position: relative;
    top: 4rem;  
    width: 100%;
}


/* Header/Navigation Bar */

#icon_navbar {
    display: none;
}

#nav_list {
    vertical-align: middle;
}

#container_header {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    align-items: middle;
    padding-right: 1rem;
    border-bottom: solid 1px white;
}

#banner_logo {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

#colmar_logo {
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

#academy {
    font-weight: 200;
    font-size: 2rem;
    color: white;
}

#logo {
    filter: invert(100%);
    float: left;
    height: 36px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 0 0.5rem;
    font-weight: 400;
    font-size: larger;
}

/* Header/Navigation Bar Mobile */

@media only screen and (max-width: 920px) {
    
    .desktop {
        display: none;
    }

    #icon_navbar {
        display: initial;
        display: flex;
        justify-content: space-around;
        align-items: center;
        filter: invert(100%);
        width: 100%;
    }

    #icon_navbar a:hover {
        filter: invert(27%) sepia(51%) saturate(1000%) hue-rotate(300deg) brightness(104%) contrast(97%);
    }
}

/* 1st Section - Intro */

#container_learn {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

#img_intro_container {
    flex-basis: 60%;
    overflow: 100%;
    padding: 2rem 1.5rem;
    min-width: 450px;
}

#img_intro {
    max-width: 100%;
    height: auto;
}

.button {
    font-size: 1.2 rem;
    background-color: seagreen;
    color: white;
    Padding: 10px 8px;
    border-radius: 5px;
}

#intro_text h3 {
    padding: 0 0 3rem 0;
}
/* 2nd body */

.mobile_info {
    display: none;
}

.container_info {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.infoleft_container {
    flex-basis: 60%;
    overflow: hidden;
    background-color: cadetblue;
}

.infoleft_container img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 2rem 1.5rem;
}

.text_practice * {
    padding-left: 4rem;
    padding-right: 3rem;
    color: white;
}

#quote_name {
    padding-bottom: 2rem;
}

.inforight_container {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    align-items: stretch;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
}

.box a {
    display: flex;
    align-items: center;
    width: 100%;
}

#orientation_box .read, #campus_box .read, #lecture_box .read {
    font-weight: 500;
    color: white;
}

.box .desktop_info {
    max-width: 100%;
    display: block;
    height: auto;
    padding: 1rem 1rem;
}

#campus_box, #orientation_box, #lecture_box {
    background-color: rgb(138, 218, 209);
    border-color: cadetblue;
    border-width: 1px 2px;
    border-style: solid;
}

.box .text {
    flex-basis: 65%;
    padding-left: 1rem;
    padding-right: 3rem;
    color: #525252;
}

.box .text * {
    padding-bottom: 0.5rem;
}

/* 3rd section - Courses */

#container_courses {
    padding: 2rem 4.5rem;
    background-color: lightgrey;
}

.grid_courses {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem 2rem;
    box-sizing: border-box;
}

.course_box {
    background-color: white;
}

#course_header {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.course_box img {
    display: block;
    width: 100%;
    height: auto;
}

.course_text {
    padding: 1rem 1rem 1.5rem;
}

.course_text h3, h4 {
    padding-bottom: 0.5rem;
}

.course_text h4 {
    text-transform: uppercase;
    font-weight: 100;
}

.course_text a {
    color: #525252;
}

.course_text a:hover {
    color:seagreen;
}

/* 4th Section - Thesis  */

#thesis_header{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: cadetblue;
    color: white;
}

#container_thesis {
    display: flex;
    width: 100%;
    height: auto;
}

.thesis_urban{
    flex-basis: 60%;
    padding: 0 1.5rem 2rem;
}

.thesis_blocks a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.thesis_blocks > a:hover {
    background-color: rgb(142, 224, 213);
}

.vid video {
    width: 100%;
    padding: 1rem 0rem;
    padding: 0px 1rem; 
}

.vid_text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.vid_text h3 {
    padding-bottom: 0.5rem;
    padding-top: 0px;
}

.thesis_mobile {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    align-items: stretch;
}

.thesis_blocks {
    display: flex;
    align-items: center;
    border: solid rgba(68, 85, 85, 0.1) .5px;
    flex: 1;
    background-color: rgb(180, 238, 230);
}

.thesis_blocks figure img {
    flex-basis: 30%;    
}

.thesis_text {
    flex-basis: 70%;
    color: #525252;
    padding-left: 1rem;
    padding-right: 1rem;
}

.thesis_text h3 {
    padding-bottom: 1rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    color: #525252;
    font-size: small;
}

footer li {
    float: right;
    list-style: none;
    padding: 0 5px;
}

footer a {
    color: #525252;
}

/* Footer Mobile */

@media only screen and (max-width: 920px) {
    
    footer p {
        display: initial;
    }

    footer ul {
        display: none;
    }
}